<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunpan.mappers.UserMemoryRequestMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.yunpan.entity.po.UserMemoryRequest">
		<!--主键ID-->
		<id column="id" property="id"/>
		<!--用户ID-->
		<result column="user_id" property="userId"/>
		<!--申请时间-->
		<result column="request_time" property="requestTime"/>
		<!--申请内存大小（字节）-->
		<result column="request_size" property="requestSize"/>
		<!--申请状态：0-待处理，1-已批准，2-已拒绝-->
		<result column="status" property="status"/>
		<!--批准时间-->
		<result column="approval_time" property="approvalTime"/>
		<!--拒绝原因-->
		<result column="rejection_reason" property="rejectionReason"/>
		<!--备注-->
		<result column="notes" property="notes"/>
	</resultMap>

	<!--通用查询结果列 -->
	<sql id="base_column_list">
		id,user_id,request_time,request_size,status,approval_time,rejection_reason,notes
		<if test="query.queryNickName!= null and query.queryNickName!=''">
			, (select nick_name from user_info where user_info.user_id=user_memory_request.user_id) nickName
		</if>
	</sql>

	<sql id="base_column_list2">
		id,user_id,request_time,request_size,status,approval_time,rejection_reason,notes
	</sql>

	<!--基础查询条件-->
	<sql id="base_query_condition">
		<if test="query.id!= null ">
			and id= #{query.id}
		</if>
		<if test="query.userId!= null and query.userId!=''">
			and user_id= #{query.userId}
		</if>
		<if test="query.requestTime!= null ">
			and request_time= #{query.requestTime}
		</if>
		<if test="query.requestSize!= null ">
			and  #{query.requestSize}>=request_size
		</if>
		<if test="query.status!= null ">
			and status= #{query.status}
		</if>
		<if test="query.approvalTime!= null ">
			and approval_time= #{query.approvalTime}
		</if>
		<if test="query.rejectionReason!= null and query.rejectionReason!=''">
			and rejection_reason= #{query.rejectionReason}
		</if>
		<if test="query.notes!= null and query.notes!=''">
			and notes= #{query.notes}
		</if>
	</sql>

	<!--扩展的查询条件-->
	<sql id="base_query_condition_extend">
		<if test="query.requestTimeStart != null and query.requestTimeStart !=''">
			<![CDATA[ and request_time >= str_to_date(#{requestTimeStart}, 'Y-%m-%d') ]]>
		</if>
		<if test="query.requestTimeEnd != null and query.requestTimeEnd !=''">
			<![CDATA[ and request_time < str_to_date(#{requestTimeEnd}, 'Y-%m-%d') + interval 1 day ]]>
		</if>
		<if test="query.approvalTimeStart != null and query.approvalTimeStart !=''">
			<![CDATA[ and approval_time >= str_to_date(#{approvalTimeStart}, 'Y-%m-%d') ]]>
		</if>
		<if test="query.approvalTimeEnd != null and query.approvalTimeEnd !=''">
			<![CDATA[ and approval_time < str_to_date(#{approvalTimeEnd}, 'Y-%m-%d') + interval 1 day ]]>
		</if>
		<if test="query.rejectionReasonFuzzy != null and query.rejectionReasonFuzzy !=''">
			and rejectionReasonFuzzy like concat('%', #{query.rejectionReasonFuzzy}, '%')
		</if>
		<if test="query.notesFuzzy != null and query.notesFuzzy !=''">
			and notesFuzzy like concat('%', #{query.notesFuzzy}, '%')
		</if>
		<if test="query.queryNickName != null and query.queryNickName != '' and query.nickNameFuzzy != null and query.nickNameFuzzy !=''">
			AND EXISTS (
			SELECT 1
			FROM user_info
			WHERE user_info.user_id = user_memory_request.user_id
			AND user_info.nick_name LIKE CONCAT('%', #{query.nickNameFuzzy}, '%')
			)
		</if>
	</sql>

	<!--通用的查询条件-->
	<sql id="query_condition">
		<where>
			<include refid="base_query_condition"/>
			<include refid="base_query_condition_extend"/>
		</where>
	</sql>

	<!--查询列表-->
	<select id="selectList" resultMap="base_result_map">
		SELECT
		<include refid="base_column_list"/>
		FROM user_memory_request
		<include refid="query_condition"/>
		<if test="query.orderBy != null">
			order by ${query.orderBy}
		</if>
		<if test="query.simplePage != null">
			limit #{query.simplePage.start}, #{query.simplePage.end}
		</if>
	</select>

	<!--查询数量-->
	<select id="selectCount" resultType="java.lang.Integer">
		SELECT count(1) FROM user_memory_request
		<include refid="query_condition"/>
	</select>

	<!--插入 (匹配有值字段)-->
	<insert id="insert" parameterType="com.yunpan.entity.po.UserMemoryRequest">
		<selectKey keyProperty="bean.id" resultType="Long" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO user_memory_request
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				id,
			</if>
			<if test="bean.userId != null">
				user_id,
			</if>
			<if test="bean.requestTime != null">
				request_time,
			</if>
			<if test="bean.requestSize != null">
				request_size,
			</if>
			<if test="bean.status != null">
				status,
			</if>
			<if test="bean.approvalTime != null">
				approval_time,
			</if>
			<if test="bean.rejectionReason != null">
				rejection_reason,
			</if>
			<if test="bean.notes != null">
				notes,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				#{bean.id},
			</if>
			<if test="bean.userId != null">
				#{bean.userId},
			</if>
			<if test="bean.requestTime != null">
				#{bean.requestTime},
			</if>
			<if test="bean.requestSize != null">
				#{bean.requestSize},
			</if>
			<if test="bean.status != null">
				#{bean.status},
			</if>
			<if test="bean.approvalTime != null">
				#{bean.approvalTime},
			</if>
			<if test="bean.rejectionReason != null">
				#{bean.rejectionReason},
			</if>
			<if test="bean.notes != null">
				#{bean.notes},
			</if>
		</trim>
	</insert>

	<!-- 插入或者更新 (匹配有值的字段) -->
	<insert id="insertOrUpdate" parameterType="com.yunpan.entity.po.UserMemoryRequest">
		INSERT INTO user_memory_request
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				id,
			</if>
			<if test="bean.userId != null">
				user_id,
			</if>
			<if test="bean.requestTime != null">
				request_time,
			</if>
			<if test="bean.requestSize != null">
				request_size,
			</if>
			<if test="bean.status != null">
				status,
			</if>
			<if test="bean.approvalTime != null">
				approval_time,
			</if>
			<if test="bean.rejectionReason != null">
				rejection_reason,
			</if>
			<if test="bean.notes != null">
				notes,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				#{bean.id},
			</if>
			<if test="bean.userId != null">
				#{bean.userId},
			</if>
			<if test="bean.requestTime != null">
				#{bean.requestTime},
			</if>
			<if test="bean.requestSize != null">
				#{bean.requestSize},
			</if>
			<if test="bean.status != null">
				#{bean.status},
			</if>
			<if test="bean.approvalTime != null">
				#{bean.approvalTime},
			</if>
			<if test="bean.rejectionReason != null">
				#{bean.rejectionReason},
			</if>
			<if test="bean.notes != null">
				#{bean.notes},
			</if>
		</trim>
		on DUPLICATE key update
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.userId != null">
				user_id = VALUES(user_id),
			</if>
			<if test="bean.requestTime != null">
				request_time = VALUES(request_time),
			</if>
			<if test="bean.requestSize != null">
				request_size = VALUES(request_size),
			</if>
			<if test="bean.status != null">
				status = VALUES(status),
			</if>
			<if test="bean.approvalTime != null">
				approval_time = VALUES(approval_time),
			</if>
			<if test="bean.rejectionReason != null">
				rejection_reason = VALUES(rejection_reason),
			</if>
			<if test="bean.notes != null">
				notes = VALUES(notes),
			</if>
		</trim>
	</insert>

	<!-- 添加(批量插入) -->
	<insert id="insertBatch" parameterType="com.yunpan.entity.po.UserMemoryRequest" >
		INSERT INTO user_memory_request(user_id,request_time,request_size,status,approval_time,rejection_reason,notes) values
		<foreach collection="list" item = "item" separator="," >
			(#{item.user_id},#{item.request_time},#{item.request_size},#{item.status},#{item.approval_time},#{item.rejection_reason},#{item.notes})
		</foreach>
	</insert>

	<!-- 批量新增修改(批量插入) -->
	<insert id="insertOrUpdateBatch" parameterType="com.yunpan.entity.po.UserMemoryRequest" >
		INSERT INTO user_memory_request(user_id,request_time,request_size,status,approval_time,rejection_reason,notes) values
		<foreach collection="list" item="item" separator="," >
			(#{item.user_id},#{item.request_time},#{item.request_size},#{item.status},#{item.approval_time},#{item.rejection_reason},#{item.notes})
		</foreach>
		on DUPLICATE key update
		id = VALUES(id),
		user_id = VALUES(user_id),
		request_time = VALUES(request_time),
		request_size = VALUES(request_size),
		status = VALUES(status),
		approval_time = VALUES(approval_time),
		rejection_reason = VALUES(rejection_reason),
		notes = VALUES(notes)
	</insert>

	<!-- 根据Id查询 -->
	<select id="selectById" resultMap="base_result_map">
		select <include refid="base_column_list2"/> from user_memory_request where id=#{id}
	</select>

	<!-- 根据Id修改 -->
	<update id="updateById" parameterType="com.yunpan.entity.po.UserMemoryRequest">
		UPDATE user_memory_request
		<set>
			<if test="bean.id!=null">
				id = #{bean.id},
			</if>
			<if test="bean.userId!=null">
				user_id = #{bean.userId},
			</if>
			<if test="bean.requestTime!=null">
				request_time = #{bean.requestTime},
			</if>
			<if test="bean.requestSize!=null">
				request_size = #{bean.requestSize},
			</if>
			<if test="bean.status!=null">
				status = #{bean.status},
			</if>
			<if test="bean.approvalTime!=null">
				approval_time = #{bean.approvalTime},
			</if>
			<if test="bean.rejectionReason!=null">
				rejection_reason = #{bean.rejectionReason},
			</if>
			<if test="bean.notes!=null">
				notes = #{bean.notes},
			</if>
		</set>
		where id=#{id}
	</update>

	<!-- 根据Id删除 -->
	<delete id="deleteById">
		DELETE FROM user_memory_request where id=#{id}
	</delete>

	<delete id="deleteByIdAndUserId">
		DELETE FROM user_memory_request where id=#{id} and user_id=${userId}
	</delete>

	<update id="updateBatchByQuery">
		UPDATE user_memory_request
		<set>
			<if test="bean.id!=null">
				id = #{bean.id},
			</if>
			<if test="bean.userId!=null">
				user_id = #{bean.userId},
			</if>
			<if test="bean.requestTime!=null">
				request_time = #{bean.requestTime},
			</if>
			<if test="bean.requestSize!=null">
				request_size = #{bean.requestSize},
			</if>
			<if test="bean.status!=null">
				status = #{bean.status},
			</if>
			<if test="bean.approvalTime!=null">
				approval_time = #{bean.approvalTime},
			</if>
			<if test="bean.rejectionReason!=null">
				rejection_reason = #{bean.rejectionReason},
			</if>
			<if test="bean.notes!=null">
				notes = #{bean.notes},
			</if>
		</set>
		<include refid="query_condition"/>
	</update>
</mapper>
