<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunpan.mappers.UserLoginInfoMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.yunpan.entity.po.UserLoginInfo">
		<!--主键ID-->
		<id column="id" property="id"/>
		<!--用户ID-->
		<result column="user_id" property="userId"/>
		<!--登录日期（年月日）-->
		<result column="login_date" property="loginDate"/>
		<!--登录次数-->
		<result column="login_count" property="loginCount"/>
	</resultMap>

	<!--通用查询结果列 -->
	<sql id="base_column_list">
		id,user_id,login_date,login_count
	</sql>

	<!--基础查询条件-->
	<sql id="base_query_condition">
		<if test="query.id!= null ">
			and id= #{query.id}
		</if>
		<if test="query.userId!= null and query.userId!=''">
			and userId= #{query.userId}
		</if>
		<if test="query.loginDate!= null ">
			and loginDate= #{query.loginDate}
		</if>
		<if test="query.loginCount!= null ">
			and loginCount= #{query.loginCount}
		</if>
	</sql>

	<!--扩展的查询条件-->
	<sql id="base_query_condition_extend">
		<if test="query.userIdFuzzy != null and query.userIdFuzzy !=''">
			and userIdFuzzy like concat('%', #{query.userIdFuzzy}, '%')
		</if>
		<if test="query.loginDateStart != null and query.loginDateStart !=''">
			<![CDATA[ and login_date >= str_to_date(#{loginDateStart}, 'Y-%m-%d'), interval -1 day ]]>
		</if>
		<if test="query.loginDateEnd != null and query.loginDateEnd !=''">
			<![CDATA[ and login_date < date_sub(#{loginDateEnd}, 'Y-%m-%d') ]]>
		</if>
	</sql>

	<!--通用的查询条件-->
	<sql id="query_condition">
		<where>
			<include refid="base_query_condition"/>
			<include refid="base_query_condition_extend"/>
		</where>
	</sql>

	<!--查询列表-->
	<select id="selectList" resultMap="base_result_map">
		SELECT
		<include refid="base_column_list"/>
		FROM user_login_info
		<include refid="query_condition"/>
		<if test="query.orderBy != null">
			order by ${query.orderBy}
		</if>
		<if test="query.simplePage != null">
			limit #{query.simplePage.start}, #{query.simplePage.end}
		</if>
	</select>

	<!--查询数量-->
	<select id="selectCount" resultType="java.lang.Integer">
		SELECT count(1) FROM user_login_info
		<include refid="query_condition"/>
	</select>

	<!--插入 (匹配有值字段)-->
	<insert id="insert" parameterType="com.yunpan.entity.po.UserLoginInfo">
		<selectKey keyProperty="bean.id" resultType="Long" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO user_login_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				id,
			</if>
			<if test="bean.userId != null">
				user_id,
			</if>
			<if test="bean.loginDate != null">
				login_date,
			</if>
			<if test="bean.loginCount != null">
				login_count,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				#{bean.id},
			</if>
			<if test="bean.userId != null">
				#{bean.userId},
			</if>
			<if test="bean.loginDate != null">
				#{bean.loginDate},
			</if>
			<if test="bean.loginCount != null">
				#{bean.loginCount},
			</if>
		</trim>
	</insert>

	<!-- 插入或者更新 (匹配有值的字段) -->
	<insert id="insertOrUpdate" parameterType="com.yunpan.entity.po.UserLoginInfo">
		INSERT INTO user_login_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				id,
			</if>
			<if test="bean.userId != null">
				user_id,
			</if>
			<if test="bean.loginDate != null">
				login_date,
			</if>
			<if test="bean.loginCount != null">
				login_count,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				#{bean.id},
			</if>
			<if test="bean.userId != null">
				#{bean.userId},
			</if>
			<if test="bean.loginDate != null">
				#{bean.loginDate},
			</if>
			<if test="bean.loginCount != null">
				#{bean.loginCount},
			</if>
		</trim>
		on DUPLICATE key update
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.loginCount != null">
				login_count = VALUES(login_count),
			</if>
		</trim>
	</insert>

	<!-- 添加(批量插入) -->
	<insert id="insertBatch" parameterType="com.yunpan.entity.po.UserLoginInfo" >
		INSERT INTO user_login_info(user_id,login_date,login_count) values
		<foreach collection="list" item = "item" separator="," >
			(#{item.user_id},#{item.login_date},#{item.login_count})
		</foreach>
	</insert>

	<!-- 批量新增修改(批量插入) -->
	<insert id="insertOrUpdateBatch" parameterType="com.yunpan.entity.po.UserLoginInfo" >
		INSERT INTO user_login_info(user_id,login_date,login_count) values
		<foreach collection="list" item="item" separator="," >
			(#{item.user_id},#{item.login_date},#{item.login_count})
		</foreach>
		on DUPLICATE key update
		id = VALUES(id),
		user_id = VALUES(user_id),
		login_date = VALUES(login_date),
		login_count = VALUES(login_count)
	</insert>

	<!-- 根据Id查询 -->
	<select id="selectById" resultMap="base_result_map">
		select <include refid="base_column_list"/> from user_login_info where id=#{id}
	</select>

	<!-- 根据Id修改 -->
	<update id="updateById" parameterType="com.yunpan.entity.po.UserLoginInfo">
		UPDATE user_login_info
		<set>
			<if test="bean.id!=null">
				id = #{bean.id},
			</if>
			<if test="bean.userId!=null">
				user_id = #{bean.userId},
			</if>
			<if test="bean.loginDate!=null">
				login_date = #{bean.loginDate},
			</if>
			<if test="bean.loginCount!=null">
				login_count = #{bean.loginCount},
			</if>
		</set>
		where id=#{id}
	</update>

	<!-- 根据Id删除 -->
	<delete id="deleteById">
		DELETE FROM user_login_info where id=#{id}
	</delete>

	<!-- 根据UserIdAndLoginDate查询 -->
	<select id="selectByUserIdAndLoginDate" resultMap="base_result_map">
		select <include refid="base_column_list"/> from user_login_info where user_id=#{userId} and login_date=#{loginDate}
	</select>

	<!-- 根据Id修改 -->
	<update id="updateByUserIdAndLoginDate" parameterType="com.yunpan.entity.po.UserLoginInfo">
		UPDATE user_login_info
		<set>
			<if test="bean.id!=null">
				id = #{bean.id},
			</if>
			<if test="bean.userId!=null">
				user_id = #{bean.userId},
			</if>
			<if test="bean.loginDate!=null">
				login_date = #{bean.loginDate},
			</if>
			<if test="bean.loginCount!=null">
				login_count = #{bean.loginCount},
			</if>
		</set>
		where user_id=#{userId} and login_date=#{loginDate}
	</update>

	<!-- 根据UserIdAndLoginDate删除 -->
	<delete id="deleteByUserIdAndLoginDate">
		DELETE FROM user_login_info where user_id=#{userId} and login_date=#{loginDate}
	</delete>

	<update id="updateLoginCount">
		update user_login_info set login_count = login_count + 1 where id = #{id}
	</update>

</mapper>
